{% extends 'index2/base.html' %}

{% block beforeMain %}
    <div class="bread">
        <a href="/">主页</a>
        > 关于我们
    </div>
    <div class="bm-title">
        <span>{{ ab.title }}</span>
    </div>
{% endblock %}

{% block main %}
     <div class="list">
        <div class="list_left">
            <div class="article_container">
                {% autoescape off %}
                {{ ab.content }}
                {% endautoescape %}
            </div>
        </div><div class="list_right">

        </div>
    </div>
{% endblock %}
